body{
    background-color: #069AD6;
}

.silde_wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    .silde{
        width: 327px; height: 479px;
        background-color: wheat;
        &.on{
            width: 374px; height: 548px;
        }
    }
    .silde:nth-child(even){
        
    }
}

