
.profile{
    width: 100%; height: 100vh;
    text-align: center;
    p {
            margin-bottom: 0.781vw;
        }
    h2 {
            text-align: center;
            padding-top: 8.594vw;
            img{
                animation: twinkleMove 2s infinite ;
            }
            @keyframes twinkleMove {
                0% {
                    transform: translate(0px);
                }
            
                50% {
                    transform: translateY(-10px)
                }
            }
    }
    .profile_box1{
        margin-bottom: 2.865vw;
        font-size: 0.833vw;
       
    }
    .profile_box2{
        display: grid;
        justify-content: center;
        grid-template-columns: 15.625vw 15.625vw;
        margin-bottom: 14.583vw;
        .profile_box2_txtbox{
            text-align: left;
            margin-top: 0.781vw;
            width: 13.021vw; //vw로 바꾸기
            font-size: 0.833vw;
        }
        .profile_box2_imgbox{
            position: relative;
            animation: moveTool 2s infinite;
            img{
                position: absolute; 
                width: 4.844vw; height: 5.677vw;
            }
            svg{
                position: absolute;
                width: 5.052vw; height: 5.052vw;
            }
            .github{
                top: 1.042vw; left: 0;
            }
            .Effect1{
                left: -3.646vw; top:-2.604vw;
            }
            .Notion{
                bottom: 0px; right: 1.563vw;
            }
            .Effect2{
                bottom: 2.604vw; right: -2.604vw;
            }
        }
        @keyframes moveTool {
            0% {
                    transform: translate(0px);
                }
            
                50% {
                    transform: translateY(-0.521vw)
                }
        }
    }
    footer{
        width: 100%;
        background-color: #069AD6;
        line-height: 10.417vw;
        font-family: 'NeoDunggeunmo';
        font-size: 1.250vw;
        color: white;

    }
}