.project {
    width: 100%;
    height: 100vh;
    background-color: #069AD6;
    position: relative;
    overflow: hidden;

    .project_btn {
        position: absolute;
        top: 11.438vw;
        border: none;
        cursor: pointer;
        background-color: transparent;
        z-index: 999;

        img {
            width: 2.073vw;
            height: 3.625vw;
        }
    }

    .project_btn:nth-child(even) {
        right: 38vw;
    }

    .project_btn:nth-child(odd) {
        left: 37vw;
    }

    h2 {
        width: 15.625vw;
        margin: 0 auto 2vw;
        padding: 10.417vw 0 0.990vw 0;
        position: relative;
        line-height: 5.938vw;

        span {
            width: 6vw;
            background-image: url(../../public/images/froject_effect.png);
            background-repeat: no-repeat;
            position: absolute;
            bottom: 1.302vw;
            animation: effectMove 0.7s infinite;
        }

        @keyframes effectMove {
            0% {
                background-image: url(../../public/images/froject_effect.png);
            }

            0.1% {
                background-image: url(../../public/images/froject_effect2.png);
            }
        }

        img {
            position: absolute;
            bottom: 1.302vw;
        }
    }

}

.silde_wrapper {
    margin: 0 auto 1.563vw;
    display: flex;
    align-items: center;
    height: 26.042vw;
    width: 53vw;
    position: relative;

    .silde {
        background-color: teal;
        height: 24.948vw;
        margin: 18vw;
        text-align: center;
        position: relative;
        border-radius: 1.042vw;

        h5 {
            font-size: 1.250vw;
            width: 17.031vw;
            line-height: 27;
        }

        .sildeBtn {
            width: 6.510vw;
            height: 2.969vw;
            text-align: center;
            line-height: 2.656vw;
            position: absolute;
            left: 32%;
            top: 19.479vw;
            background: url(../../public/images/project_btn.png) no-repeat;
            background-size: contain;
        }

    }
}


.silde_active {
    //active
    background-color: teal;
    margin: 0 auto;
    text-align: center;
    border-radius: 1.042vw;
    position: relative;
    left: -10%;
    height: 26.104vw;
   

    h5 {
        font-size: 1.250vw;
        width: 20.479vw;
        line-height: 27;
    }

    .sildeBtn_active {
        //active
        width: 8.229vw;
        height: 3.385vw;
        line-height: 3.385vw;
        position: absolute;
        left: 29%;
        top: 19.479vw;
        background: url(../../public/images/project_btn_active.png) no-repeat;
        background-size: contain;
        // font size vw로 설정하기
    }

    .sildeIn_active {
        //active
        display: flex;
        flex-wrap: wrap;
        width: 50.604vw;
        height: 26.104vw;
        border-radius: 0 1.042vw 1.042vw 0;
        background-color: white;
        position: absolute;
        left: 16vw;
        top: 0;
        z-index: 9999;
        transition: 0.4s;
        transform: translateX(70px);

        .btns {
            padding: 0.781vw;
            display: flex;
            justify-content: space-between;
            width: 70vw;

            .gitBtn {
                width: 5.885vw;
                height: 1.823vw;
                background: url(../../public/images/git_btn.png) no-repeat;
                background-size: contain;
            }

            .inCloseBtn {
                width: 1.771vw;
                height: 1.667vw;
                background-image: url(../../public/images/close.png);
                background-size: contain;
            }
        }

        .txtBox {
            width: 70vw;
            padding: 0.781vw;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                font-size: 1.667vw;
                font-family: 'NeoDunggeunmo';
                margin-bottom: 7.813vw;
            }

            .txt {
                text-align: left;
                width: 23.438vw;

                h3 {
                    font-size: 1.667vw;
                    font-family: 'NeoDunggeunmo';
                    margin-bottom: 1.5vw;

                }

                .sildebox {
                    width: 10.417vw;
                    height: 1.042vw;
                    overflow: hidden;
                    display: flex;

                    div {
                        animation: benner 3s linear infinite;
                        font-size: 0.833vw;
                    }
                }

                p {
                    margin-bottom: 4.167vw;
                    line-height: 2;
                    font-size: 0.833vw;
                }

                a {
                    position: absolute;
                    bottom: 0.781vw;
                    right: 0.781vw;
                    font-weight: 800;
                    font-size: 1.250vw;
                }

                @keyframes benner {
                    0% {
                        transform: translate3d(30, 0, 0);
                    }

                    100% {
                        transform: translate3d(-11.458vw, 0px, 0px);
                    }
                }

            }
        }


    }


}