

.skills{
    width: 100%; height: 100vh;
    position: relative;
    button{
        position: absolute;
        border: none;
        background-color: white;
        cursor: pointer;
        width: 2.604vw;
    }
    button:nth-child(even){
      top:25vw; right: 10vw;
    }
    button:nth-child(odd){
      top:25vw; left: 10vw;
    }
    h2{
        margin: 5vw 15.625vw;
        display: flex;
        position: relative;
        top:5.208vw
    }
    span{
        font-family: 'NeoDunggeunmo';
        font-size: 1.042vw;
    }
    .skliis_cantainer{
        overflow: hidden;
        width: 72.917vw;
        margin: 5.208vw auto;
    }
    .skills_wrapper{
        display: flex;
        
            .skills_silde{
                display: grid;
                grid-template-columns: 37vw 37vw;
                grid-template-rows: 18.750vw 18.750vw;
                justify-content: center;
                justify-items: center;
            .txtbox{
                margin-top: 2.604vw;
                li{
                    list-style: disc;
                    padding-bottom: 0.781vw;
                    font-size: 0.833vw;
                }
            }
            .skills_var{
                display: inline-block;
                position: relative;
               
                ul{
                    margin-right: 1.042vw;
                    width: 26.042vw;
                    height: 0.521vw;
                    background-color: black;
                    overflow: hidden;
                    position: static;
                li{
                    width: 0%;
                    height: 100%;
                    background-color: #FF800B;
                    padding: 0.521vw;
                    transition: 3s;
                    
                }
                .loding{
                    width: 100%;
                    background-color: #b7b7b7;
                }
                }
               .run8bit{
                display: inline-block;
                width: 35px; height: 35px;
                background-image: url(../../public/images/run2.png);
                animation: run 0.2s infinite  ;
                margin-left: 0%;
                transition: 3s;
                }
                @keyframes run{
                    0%{
                        background-image: url(../../public/images/run2.png)
                    }
                    50%{
                        background-image: url(../../public/images/run1.png)
                    }
                }
                .cookie8bit{
                position:absolute;
                left: 24.479vw;
                width: 1.667vw; height: 1.667vw;
             }
        }
           
    }
}
}