@import "../assets/style/reset.css";
@import "../assets/style/main.module.css";


nav{
    .scrollBoder{
        border-bottom: 1px solid black ;
    }
    width: 100%;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'NeoDunggeunmo';
    font-size: 36px;
    position: fixed;
    top:0px;
    background-color: transparent;
    z-index: 999999;
    h1{
        margin: 0 100px;

        padding: 0;
        .logo{
            min-width: 190px;
            position: relative;
        }
            &:hover::after {
                content: "";
                width: 195px;
                height: 5px;
                background-color: #FF800B;
                position: absolute;
                bottom: 35px;
            }
    }
    ul{
        display: flex;
        li{
            position: relative;
            padding: 0 77px;
            a{
                &:hover{
                    color:#FF800B;
                }
            }
        }
    }
   .nav_github{
        display: flex;
        align-items: center;
        margin-left:2.708vw; //학원가서 vw로 바꾸기
        position: relative;
        img{
            margin-left: 5px;
        }
    }
    .star{
        position: sticky;
        animation: blink-effeect 1s step-end infinite;
    }
    .star1{
        transition: 0.5s;
        &:nth-child(3){
            padding-left: 15px; 
            }
        }
    }
    .star2{
        img{
            &:nth-child(1){
                padding: 20px;
            }
        }
    }

    @keyframes blink-effeect{
        50%{
            opacity: 0;
        }
    }

.cantact_me{
    display: block;
    position: fixed;
    bottom: 0; right: 0;
    animation: cantactMove 2s infinite ;
    z-index: 999999999;

    img{
        width: 9.635vw;
        height: 7.969vw;
    }
}

@keyframes cantactMove {
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translateY(-10px)
    }
}

