.open_cantact{
    z-index: 99999999;
    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        background-color: #FF800B;
        margin: auto;
        text-align: center;
        overflow: hidden;
        font-weight: 700;

        h4 {
            font-size: 40px;
            margin: 30px 0 20px 0;
            font-family: 'NeoDunggeunmo'
        }

        .close_btn{
            font-size: 25px;
            position: absolute;
            top:0;
            right: 8px;
        }
    
        form {
            text-align: left;
            position: absolute;
            width: 306px;
            right: 100px;
            top: 120px;
    
            input {
                position: absolute;
                right: 0;
                height: 20px;
                width: 200px;
            }

            .main{
                margin-top: 30px;

            }
    
            textarea{
                margin-top: 5px;
                width: 350px;
                height: 200px;
            }
            button {
                background-color: #069AD6;
                border-radius: 10px;
                width: 100px;
                font-size: 25px;
                margin-top: 10px;
                border: none;
            }
        }
}

.hide_cantact{
    display: none;
}